MONGO_ROOT_USERNAME=user
MONGO_ROOT_PASSWORD=senha-forte
MONGO_DATABASE=appdb

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=senha-forte

ConnectionStrings__Mongo=mongodb://$MONGO_ROOT_USERNAME:$MONGO_ROOT_PASSWORD@localhost:27017/appdb?authSource=admin
RabbitMQ__Host=localhost
RabbitMQ__User=user
RabbitMQ__Password=senha-forte